*{
	box-sizing: border-box;
}
.transparent {
	background-color: transparent;
	border: none;
}
header {
	background-image: url(../image/large.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
}
.rgba {
	background-color: rgba(93,101,107,0.5);
	margin-top: 1%;
	padding-top: 32%;
}
.logo {
	width: 100%;
}
.icon {
	font-size: 50px;
}
.fondo-pasos {
	
}